<div>
    <h2 id="page-heading" data-cy="SectorProduccionHeading">
        <span>Sectores de Producción</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refrescar Lista</span>
      </button>

            <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-sector-produccion" [routerLink]="['/sector-produccion/new']">
        <fa-icon icon="plus"></fa-icon>
        <span> Crear un nuevo Sector de Producción </span>
      </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sectorProduccions?.length === 0">
        <span>No se encontraron Sectores de Producción</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sectorProduccions && sectorProduccions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" jhiSortBy="id">
                        <span>ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="peso">
                        <span>Peso</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="fermentos.id">
                        <span>Fermentos</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="recepcion.id">
                        <span>Recepción</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sectorProduccion of sectorProduccions; trackBy: trackId" data-cy="entityTable">
                    <td>
                        <a [routerLink]="['/sector-produccion', sectorProduccion.id, 'view']">{{ sectorProduccion.id }}</a>
                    </td>
                    <td>{{ sectorProduccion.peso }}</td>
                    <td>
                        <div *ngIf="sectorProduccion.fermentos">
                            <a [routerLink]="['/fermentos', sectorProduccion.fermentos?.id, 'view']">{{ sectorProduccion.fermentos?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sectorProduccion.recepcion">
                            <a [routerLink]="['/recepcion', sectorProduccion.recepcion?.id, 'view']">{{ sectorProduccion.recepcion?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/sector-produccion', sectorProduccion.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Ver</span>
              </button>

                            <button type="submit" [routerLink]="['/sector-produccion', sectorProduccion.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

                            <button type="submit" (click)="delete(sectorProduccion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Eliminar</span>
              </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="sectorProduccions && sectorProduccions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>