<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Reestablecer contraseña</h1>

            <div class="alert alert-danger" *ngIf="initialized && !key">
                <strong>Falta la clave de reestablecimiento.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="key && !success">
                <span>Elija una nueva contraseña</span>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <span>Su contraseña no pudo reestablecerse. Recuerde que un pedido para reestablecer contraseña sólo dura 24 horas.</span>
            </div>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Se ha reiniciado la contraseña.</strong> Por favor </span>
                <a class="alert-link" routerLink="/login">Inicie sesión</a>.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">La contraseña y su confirmación no coinciden!</div>

            <div *ngIf="key && !success">
                <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label" for="newPassword">Nueva contraseña</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Nueva contraseña" formControlName="newPassword" data-cy="resetPassword" #newPassword />

                        <div *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              ">
                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Se requiere que ingrese una contraseña.
              </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                La contraseña ingresada debe contener al menos 4 caracteres.
              </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                La contraseña ingresada debe contener menos de 50 caracteres.
              </small>
                        </div>

                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirme la nueva contraseña.</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirme la nueva contraseña" formControlName="confirmPassword" data-cy="confirmResetPassword" />

                        <div *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              ">
                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Se requiere que confirme la contraseña.
              </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                La contraseña de confirmación debe contener al menos 4 caracteres.
              </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                La contraseña de confirmación debe contener menos de 50 caracteres.
              </small>
                        </div>
                    </div>

                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Reestablecer contraseña</button>
                </form>
            </div>
        </div>
    </div>
</div>