<div style="min-height: 90vh">
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <h2>
                Modificando contraseña: <strong>{{ account.login }}</strong>
            </h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Contraseña modificada!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error"><strong>Hubo un error!</strong> La contraseña no pudo cambiarse.</div>

            <div class="alert alert-danger" *ngIf="doNotMatch">La contraseña y su confirmación no coinciden!</div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Contraseña actual</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Contraseña actual" formControlName="currentPassword" data-cy="currentPassword" />

                    <div *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            ">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required">
              Se requiere que ingrese su contraseña.
            </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Nueva contraseña</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Nueva contraseña" formControlName="newPassword" data-cy="newPassword" />

                    <div *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            ">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
              Se requiere que ingrese su nueva contraseña.
            </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
              La nueva contraseña debe contener más de 4 caracteres.
            </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
              La nueva contraseña no puede contener más de 50 caracteres.
            </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmación de la nueva contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirme la nueva contraseña" formControlName="confirmPassword" data-cy="confirmPassword" />

                    <div *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            ">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
              Se requiere que confirme su nueva contraseña.
            </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
              La contraseña de confirmación debe contener más de 4 caracteres.
            </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
              La contraseña de confirmación no puede contener más de 50 caracteres.
            </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Guardar</button>
            </form>
        </div>
    </div>
</div>