<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="almacen">
            <h2 data-cy="almacenDetailsHeading"><span>Almacén</span></h2>

            <hr />

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <dl class="row-md jh-entity-details">
                <dt><span>ID</span></dt>
                <dd>
                    <span>{{ almacen.id }}</span>
                </dd>
                <dt><span>Estado</span></dt>
                <dd>
                    <span>{{ almacen.estado }}</span>
                </dd>
                <dt><span>Fecha Ent</span></dt>
                <dd>
                    <span>{{ almacen.fechaEnt | formatMediumDatetime }}</span>
                </dd>
                <dt><span>Fecha Sal</span></dt>
                <dd>
                    <span>{{ almacen.fechaSal | formatMediumDatetime }}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Atrás</span>
      </button>

            <button type="button" [routerLink]="['/almacen', almacen.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
        </div>
    </div>
</div>