<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Reestablecer la contraseña</h1>

            <jhi-alert-error></jhi-alert-error>

            <div class="alert alert-warning" *ngIf="!success">
                <span>Ingrese el correo que utilizó para registrarse.</span>
            </div>

            <div class="alert alert-success" *ngIf="success">
                <span>Revise su correo para más detalles acerca de cómo reestablecer la contraseña.</span>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Su correo" formControlName="email" data-cy="emailResetPassword" #email />

                    <div *ngIf="
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            ">
                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.required"> Debe ingresar su correo. </small>

                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.email">
              El correo ingresado no es válido.
            </small>

                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.minlength">
              El correo ingresado debe contener al menos de 5 caracteres.
            </small>

                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
              El correo ingresado debe contener menos de 100 caracteres.
            </small>
                    </div>
                </div>

                <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" data-cy="submit">Reestablecer</button>
            </form>
        </div>
    </div>
</div>